<div class="mt-4">
    <h3>Đăng Khóa Học</h3>
    <form method="post" action="/course/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="description">Nội dung</label>
            <input name="description" type="text" class="form-control" id="description" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="videoid">videoid</label>
            <input name="videoid" type="text" class="form-control" id="videoid" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="level">cấp độ khóa học</label>
            <input name="level" type="text" class="form-control" id="level" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>